registry=https://registry.npmjs.org/
script-shell=C:\Program Files\Git\bin\bash.exe
init-author-name=Brad Garropy
init-author-email=bradgarropy@gmail.com
init-author-url=https://bradgarropy.com
init-license=MIT
init-version=0.0.1
