init-author-email=bradgarropy@gmail.com
init-author-name=Brad Garropy
init-author-url=https://bradgarropy.com
init-license=MIT
init-version=0.0.1
legacy-peer-deps=true
registry=https://registry.npmjs.org/
